<template name="calculations">

    <div class="container">

        <ul class="breadcrumb" style="margin-top: 20px; margin-bottom: 10px;">
            <li><a href="/">Home</a>
            </li>
            <li class="active">Begin Calculations</li>
        </ul>


        <div class="alert alert-dismissible alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Heads up!</strong> Based on the information you put in your BMR is <strong>{{calculation.BMR}}</strong>. This was calculated based on your input as a {{calculation.age}} year old {{calculation.gender}}, weighing {{calculation.weight}} kgs with a height of {{calculation.height}} centimeters.
            <p>If that information does not seem correct, click <a href="/">here</a> to start over.</p>
        </div>


        <!-- Progress Bar -->
        <div class="progress">
            <div class="progress-bar progress-bar-success" style="width: 30%"></div>
        </div>


        <div class="col-md-4">

            <div class="panel panel-one">
                <div class="panel-heading"><i class="material-icons">looks_one</i> Intake</div>
                <div class="panel-body">

                    <p>How many calories do you estimate you will take in per day?</p>

                    <!-- Calories Intake -->
                    <div class="form-group">
                        <label class="control-label" for="focusedInput2">Calories per day</label>
                        <input class="form-control" id="focusedInput2" type="number" name="caloriesIn" placeholder="2000 calories">
                        <p class="help-block">2000 calories is the daily recommented value</p>
                    </div>


                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="panel panel-two">
                <div class="panel-heading "><i class="material-icons">looks_two</i>Output</div>
                <div class="panel-body">


                    <p>How many minutes do you plan on working out in addition to your normal activity level?</p>

                    <!-- Minutes Exersize Bar -->
                    <div class="form-group">
                        <label class="control-label" for="focusedInput2">Minutes of activity</label>
                        <input class="form-control" id="focusedInput2" type="number" name="caloriesOut" placeholder="30 minutes">
                        <p class="help-block">30 minutes a day for better heart health!</p>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="panel panel-three">
                <div class="panel-heading"><i class="material-icons">looks_3</i> Duration</div>
                <div class="panel-body">

                    <p>Let's set a time based goal. How long do you want to follow this plan?</p>

                    <div class="form-group">


                        <p>Lets plan for <strong>{{sliderValue}}</strong> days!</p>

                        <!-- Slider Bar -->
                        <div class="slider shor slider-material-pink" id="calcSlider"></div>
                        <input type="hidden" name="hiddenDays" value="{{sliderValue}}" />
                        <p class="text-muted"> Change the slider between <em>30</em> and <em>90</em> days.</p>


                    </div>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4"></div>
                <div class="col-md-4"><a href="#results" class="btn btn-lg btn-block btn-raised btn-success calc-button">Let's do it!</a></div>
                <div class="col-md-4"></div>
            </div>

        </div>




    </div>

</template>