<template name="home">
    <!-- Div used to ensure nothing goes behind nav -->
    <div style="line-height: 70px;"><br/></div>
    
    {{> loginBox}}
    
    <script>
        $(function(){
            $.material.init();
            
        });
    </script>
    
  <div class="container">  
<div class="page-header" id="banner">
    <div class="row">
      <div class="col-sm-6">
        <h1>Eggs Benedict</h1>

        <p class="lead">Based on the Harris-Benedict Equation</p>
        
    
        <blockquote class="pull-left">
      <p>"The <em>Harris–Benedict equation</em> (also called the Harris-Benedict principle) 
          is a method used to estimate an individual's basal metabolic rate (BMR) 
          and daily kilocalorie requirements. The estimated <strong>BMR</strong> value is multiplied
          by a number that corresponds to the individual's activity level. The 
          resulting number is the recommended daily kilocalorie intake to maintain 
          current body weight."</p>
      <small>The contributors of <cite title="Source Title"
      ><a href="https://en.wikipedia.org/wiki/Harris%E2%80%93Benedict_equation">Wikipedia</a></cite></small>
    </blockquote>
        
        
        <p>
          
        </p>  
      </div>
      <div class="col-sm-6">
        <div class="well infobox">
           {{> stats}}
        </div>
      </div>
    </div>
  </div>

</div>

</template>