<template name="profile">
      
      <div class="container">
            
     
           <div class="row">  
                  <div class="col-md-12">
                        <ul class="breadcrumb">
                           <li>Home</li>
                           <li class="active">Profile</li>
                        </ul>
                  </div>
                  
            </div>
      
            <div class="well">
            
            
            <div class="col-md-12 centerBlock">
                <h1 class="text-center">Unfaiyted</h1>
                <hr>
           </div>
             
               <div class="row">
            
            
            <div class="col-md-5">
                  
                  <div class="list-group">
                    <div class="list-group-item">
                      <div class="row-action-primary">
                        <i class="material-icons">folder</i>
                      </div>
                      <div class="row-content">
                        <div class="action-secondary"><i class="material-icons">fitness_center</i></div>
                        <h4 class="list-group-item-heading">Total Weight Lost</h4>
                  
                        <p class="list-group-item-text">44 Pounds</p>
                      </div>
                    </div>
                    <div class="list-group-separator"></div>
                    <div class="list-group-item">
                      <div class="row-action-primary">
                        <i class="material-icons">message</i>
                      </div>
                      <div class="row-content">
                        <div class="action-secondary"><i class="material-icons">message</i></div>
                        <h4 class="list-group-item-heading">4 unread messages</h4>
                  
                        <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
                      </div>
                    </div>
                    <div class="list-group-separator"></div>
                  </div>

            </div>
            
            
                  <div class="col-md-2 centerBlock">
                     <img src="http://graph.facebook.com/10154081490269540/picture/?type=large" class="img-circle" alt="icon" width="150px" height="150px" border="0">
                         <h5 class="text-center">Dane Miller</h5>
                         <h5 class="text-center">unfaiyted@gmail.com</h5>
                  </div>
               
                <div class="col-md-5">
                      
                      
                      <div class="list-group">
                          <div class="list-group-item">
                            <div class="row-action-primary">
                              <i class="material-icons">track_changes</i>
                            </div>
                            <div class="row-content">
                              <div class="action-secondary"><i class="material-icons">track_changes</i></div>
                              <h4 class="list-group-item-heading">Tracked</h4>
                        
                              <p class="list-group-item-text">106 days tracked</p>
                            </div>
                          </div>
                          <div class="list-group-separator"></div>
                          <div class="list-group-item">
                            <div class="row-action-primary">
                              <i class="material-icons">folder</i>
                            </div>
                            <div class="row-content">
                              <div class="action-secondary"><i class="material-icons">info</i></div>
                              <h4 class="list-group-item-heading">Tile with an icon</h4>
                        
                              <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
                            </div>
                          </div>
                          <div class="list-group-separator"></div>
                          
                      </div>
                      
                      
                </div>
                
           
             
             
             
            </div>
            
           </div>
           
      
      </div>
</template>