<template name="stats">

<form>

   In Metric? <input type="checkbox" class="conversion" name="conversion" />
   Weight <input type="text" class="weight" name="weight" />
   Age <input type="text" class="age" name="age" />
   Male <input type="radio" class="gender" name="gender" value="male" /> <br/>
   Female <input type="radio" class="gender" name="gender" value="female" /> <br/>
    {{#if hideMetric}}
        <input type="text" class="height" name="height" />cm
    {{else}}
          <input type="text" class="height_inches" name="height_inches" /> Inches
          <input type="text" class="height_feet" name="height_feet" /> Feet
    {{/if}}

    <input type="submit" />

</form>


       {{#each stat}}
        <li> {{height}} {{gender}} {{weight}}:   {{age}} </li>
        {{/each}}


</template>
