  <template name="login">
   {{#if currentUser}}
      <a data-toggle="modal" href="#loginModal">Login</a>
   {{else}}
      <a href="#logout" class="logout">Logout ({{currentUser.username}})</a>
   {{/if}}
 </template>


 <template name="loginBox">
       
<div class="modal fade in" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close close-modal" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">{{switch.current}}</h4>
        </div>
         <div class="modal-body">
      
               {{#if currentUser}}
                      {{#if currentUser.username}}
                        Hi {{currentUser.username}}!
                      {{/if}}
               
                    <i class="sign out icon"></i>
                                Log out 
              
            {{else}}
            
                   {{#if registerUser}} 
                            {{> registerForm }}
                      {{else}}
                             {{> loginForm }}
                     {{/if}}
            {{/if}}
            
              <div class="modal-footer">
                  <span class="text-primary">{{switch.string}}<a href="#{{switch.opposite}}" class="{{switch.opposite}}-user btn btn-link">
                    {{switch.opposite}}!</a></span>
       <button type="button" class="btn btn-raised btn-info {{switch.current}}-button">{{switch.current}}</button>
             </div>
             
        </div>
      </div>
    </div>
  </div>
</template>

<template name="registerForm">
      <form>
            <div class="form-group">
            <label for="inputEmail" class="col-md-2 control-label">Email</label>
            <div class="col-md-10">
              <input class="form-control" id="inputEmail"  name="inputEmail" placeholder="Email" type="email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-md-2 control-label">Password</label>
            <div class="col-md-10">
              <input class="form-control" id="inputPassword" name="inputPassword" placeholder="Password" type="password">
            </div>
          </div>
           <div class="form-group">
            <label for="inpuPassword" class="col-md-2 control-label">Repreat</label>
            <div class="col-md-10">
              <input class="form-control" id="repeatPassword"  name="repeatPassword" placeholder="Password" type="password">
            </div>
          </div>
    </form>
</template>


<template name="loginForm">
    
      <form>
            <div class="form-group">
            <label for="inputEmail" class="col-md-2 control-label">Email</label>
      
            <div class="col-md-10">
              <input class="form-control" id="inputEmail"  name="inputEmail" placeholder="Email" type="email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-md-2 control-label">Password</label>
            <div class="col-md-10">
              <input class="form-control" id="inputPassword" name="inputPassword" placeholder="Password" type="password">
            </div>
          </div>
    </form>
    
</template>