 <template name="login">
   {{#if currentUser}}
         <a href="#logout" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Profile <b class="caret"></b></a>
       
          <ul class="dropdown-menu">
            <li>
                 
                 <a href="#profile">  
                 
                 {{#if userAvatar.valid}}
                       <img src="{{userAvatar.location}}"   class="img-circle" alt="icon" width="56px" height="56px" border="0">
                 {{else}}
                      <i class='material-icons'>tag_faces</i>
                 {{/if}}
                 View Profile</a>
                
                  </li>
            <li><a href="#historical">Another action</a></li>
            <li><a href="#notsure">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Account</li>
            <li><a href="#account">Settings</a></li>
            <li><a href="#logout" class="logout">Logout ({{userEmail}})</a></li>
          </ul>
        
   {{else}}
       <a data-toggle="modal" href="#loginModal">Login</a>
   {{/if}}
 </template>


 <template name="loginBox">
       
<div class="modal fade in" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close close-modal" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">{{switch.current}}</h4>
        </div>
         <div class="modal-body">
      
                
               {{#if formError.valid}}
                <div class="alert alert-danger">
                    
                    <strong>Oh snap!</strong>
                   {{formError.detail}}
                  </div>
                  {{/if}}
                
      
               {{#if currentUser}}
                      {{#if currentUser.username}}
                        Hi {{currentUser.username}}!
                      {{/if}}
               
                    <i class="sign out icon"></i>
                                Log out 
              
            {{else}}
            
                   {{#if registerUser}} 
                            {{> registerForm }}
                      {{else}}
                             {{> loginForm }}
                     {{/if}}
            {{/if}}
            
              <div class="modal-footer">
                    
                  
                  <span class="text-primary">{{switch.string}}<a href="#{{switch.opposite}}" class="{{switch.opposite}}-user btn btn-link">
                    {{switch.opposite}}!</a></span>
       <button type="button" class="btn  btn-raised  btn-primary btn-lg {{switch.current}}-button" id="load"
        data-loading-text="<i class='fa fa-spinner'></i> Loading" >{{switch.current}}</button> <br />
        
        
             <div class="btn-group btn-group-justified ">
              <a href="javascript:void(0)" class="btn btn-info btn-sm"><i class="fa fa-twitter"></i> <span></span>twitter</a>
              <a href="javascript:void(0)" class="btn btn-raised btn-info btn-sm facebook-login"><i class="fa fa-facebook"></i> <span></span>facebook</a>
              <a href="javascript:void(0)" class="btn btn-raised btn-danger btn-sm google-login"><i class="fa fa-google-plus"></i> <span></span>google +</a>
            </div>


             </div>
             
        </div>
      </div>
    </div>
  </div>
</template>

<template name="registerForm">
      <form>
            <div class="form-group">
            <label for="inputEmail" class="col-md-2 control-label">Email</label>
            <div class="col-md-10">
              <input class="form-control" id="inputEmail"  name="inputEmail" placeholder="Email" type="email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-md-2 control-label">Password</label>
            <div class="col-md-10">
              <input class="form-control" id="inputPassword" name="inputPassword" placeholder="Password" type="password">
            </div>
          </div>
           <div class="form-group">
            <label for="inpuPassword" class="col-md-2 control-label">Repreat</label>
            <div class="col-md-10">
              <input class="form-control" id="repeatPassword"  name="repeatPassword" placeholder="Password" type="password">
            </div>
          </div>
    </form>
</template>


<template name="loginForm">
    
      <form>
            <div class="form-group">
            <label for="inputEmail" class="col-md-2 control-label">Email</label>
      
            <div class="col-md-10">
              <input class="form-control" id="inputEmail"  name="inputEmail" placeholder="Email" type="email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-md-2 control-label">Password</label>
            <div class="col-md-10">
              <input class="form-control" id="inputPassword" name="inputPassword" placeholder="Password" type="password">
            </div>
          </div>
    </form>
    
</template>

<template name="loginSubHeader">
      
</template>