<template name="footer">
    <!-- SPACER -->
    
  
    
    <div style="line-height: 100px"><br /></div>
    <footer class="page-footer center-on-small-only">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="white-text"> </h5>
                        <p class="grey-text text-lighten-4"></p>
                    </div>
                    <div class="col-md-6">
                     
                      
                    </div>
                </div>
            </div>
        <div class="push"></div>
            <div class="footer-text text-center">
                <a href="">&copy; Dane and Dalton Miller</a>
            </div>
            <div class="block-left back-button navi-button">
                <a href="{{backLocation}}"><img src="/images/back_button.png" width="35px"/><span class="navi-button-text back-navi-text"><b>Previous</b></span></a>
            </div>
            <div class="navi-button-desc back-navi-desc">{{backDesc}}</div>
            <div class="block-right forward-button navi-button">
                <a href="{{forwardLocation}}"><span class="navi-button-text forward-navi-text"><b>Next</b></span><img src="/images/forward_button.png" width="35px"/></a>
            </div>
        <div class="navi-button-desc forward-navi-desc">{{forwardDesc}}</div>
        </footer>
</template>
